// Variables
//

// Color system
$primary: #FFE600;
$secondary: #3483FA;
$light: #EEEEEE;
$light-dark: #999999;
$font-color: #333333;

// fonts sizes
$h1-font-size: 46px; 
$h2-font-size: 32px; 
$h3-font-size: 28px; 
$h4-font-size: 24px; 
$h5-font-size: 18px; 
$h6-font-size: 16px; 

// Breadcumb
$spacer: 1rem;

// Images
$thumbnail-width: 180px;
$thumbnail-height: 180px;
$thumbnail-rounded: 4px;

$picture-sm-width: 180px;
$picture-sm-height: 180px;
$picture-md-width: 480px;
$picture-md-height: 480px;
$picture-lg-width: 680px;
$picture-lg-height: 680px;
